/* .model{
  width:40px,
  height:
} */
/* .card{
    width:400px;
    height:100px;
    border-radius: 4px;
    border-style:double;
    margin-top:90px;
    padding :30px;
    border:8px solid rgb(160, 16, 40);
} */
.card{
        box-shadow: 5px 10px #888888;
}
.card{
  background-color: rgb(16, 225, 145);
}