<!-- <div class="container-fluid mt-20">
    <div class="row">
        <div class="col-4 d-flex align-items-stretch" *ngFor="let p of drama">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top" src="{{p.image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{p.name}}</h5>
                  <p class="card-text">{{p.description}}</p>
                  <a href="#" class="btn btn-primary">Book</a>
                </div>
              </div>
        </div>
    </div>
</div> -->
